.contato{
    width: 100%;
    background-color: #05031b;
    color: #fff;
}
.contato_container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 70px 0;
}
.contato_texto{
    text-align: center;
}
.contato_texto h2{
    padding-bottom: 20px;
}
.contato_texto p{
    padding-bottom: 40px;
}
.contato_box{
    display: flex;
    justify-content: center;
}
.box{
    width: 30%;
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 0 5px;
}
.box h3{
    padding: 20px 10px;
}
.img{
    width: 20px;
    height: 20px;
    margin: 0 10px 15px 0;
}
.box_img_span{
    padding-left: 15px;
    display: flex;
}
@media (max-width: 450px) {
    .contato_box{
        flex-direction: column;
        width: 300px;
        margin: 0 auto;
    }
    .box{
        width: 100%;
    }
}

